<?xml version='1.0' encoding='utf-8'?>
<widget id="com.unionsports.union" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloWorld</name>
    <description>
        Union Sports News Magazine App
    </description>
    <author email="morne@wincomdesigns.com" href="http://www.wincomdesigns.com">
        Wincom Designs
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
